<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>  <link rel="stylesheet" href="/css/main.css">
  <script>hljs.initHighlightingOnLoad();</script>
  <title>Snip</title>
</head>

<body>
  <div class="container">
  <header>
    <p><a href="/app/newSnip">Create Snippet</a></p>
    <a href="/app/Home">Home</a>
  </header>

  {{#snippetBlock}}
  </h1 class="sub-header">{{title}}</h1>
  <div class="snip-container">
      <div class="card" style= {{width: 20 + 'em'}}>
        <div class="card-block">
          <h4 class="card-title">{{title}}</h4>
          <ul class="list-group list-group-flush">
            <pre><code class="{{language}}">{{body}}</code></pre>
            <li class="list-group-item">{{notes}}</li>
            <li class="list-group-item">{{language}}</li>
            <ul>
            {{#tags}}
              <li class="list-group-item">{{tagContent}}</li>
            {{/tags}}
            </ul>
          </ul>
        </div>
      </button>
      </div>
    </div>
    {{/snippetBlock}}
    <footer class="snip-footer">
      <h3 class='footer-text'>RagyCo.inc</h3>
    </footer>
  </div>
</body>

</html>
